////
/// Breadcrumb.
///
/// 面包屑导航
////

.breadcrumb {
    margin-bottom: 1rem;
}

.breadcrumb__item {
    display: inline-block;
    vertical-align: baseline;
    font-size: $font-size-sm;
    
    color: $color-primary;
    
    transition: color 0.2s ease-in-out 0s;
    &:hover {
	color: darken($color-primary, 10%);
    }

    &:after {
	content: '/';
	font-weight: 100;
	margin: 0 0.5rem;
	color: $color-gray
    }
}

.breadcrumb__item--active {
    color: $color-gray;
    &:hover {
	color: inherit;
    }
    &:after {
	content: ' ';
	display: none;
    }
}


.breadcrumb__home {
    display: inline-block;
    position: relative;
    top: 0.05rem;
    .ion {
	font-size: $font-size-lg;
    }
}
