@mixin model__main($width, $height) {
    @include shadow($model-main-shadow);
    background-color: #fff;
    position: fixed;
    width: $width;
    height: $height;
    left: $width / 2;
    top: $height / 2;
    transform: translate3d(-50%, -50%, 0);
    // margin-left: 50%;
    // margin-top: 50%;
    z-index: $model-main-z;
}

@mixin model__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, $model-bg-alpha);
    opacity: 0.5;
    z-index: $model-bg-z;
}

@mixin model() {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $model-z;
}

