{#

Comment.

#}

<section class="comment">

  <div class="row">
    <div class="comment-left grid">
      <div class="avatar avatar--lg">
	<img src="{{avatar}}" />
      </div>
    </div>

    <div class="comment-right grid">
      <h4>{{name}}</h4>
      <small>{{date}}</small>
      <p>{{body}}</p>
    </div>
  </div>

</section>
