{% extends "pages/layouts/aside.html" %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block script %}
<script src="/commons.js"></script>
<script src="index.js"></script>
{% endblock %}


{% block main %}

<!-- Main -->

<main class="main">
  <section class="container">
    
    <div class="section">

      <header class="header">
	<h2>Page</h2>
      </header>

      <section class="pages" id="pages">
	
	<article class="pages__item">
	  <a href="/detail.html">
	    <section class="page">
	      <header class="page__header">D</header>
	      <section class="page__detail">detail.html</section>
	    </section>
	  </a>
    <a href="/zhihu/index.html">
	      <section class="page">
	          <header class="page__header">z</header>
	          <section class="page__detail">zhihu/index.html</section>
	      </section>
	  </a>
	</article><!-- /.pages__item -->
	
      </section><!-- /.pages -->

    </div><!-- /.section -->


    <!-- discuss -->
    
    <div class="section">
      <section class="comments" id="comments"></section>
      <section class="">
	<textarea id="comment-body"></textarea>
	<div>
	  <button type="button" class="button" id="comment-commit">提交</button>
	</div>
      </section>
    </div>


    
    


    {#<!-- Buttons -->

    <div class="section">

      <header class="header">
	<h2>Buttons</h2>
      </header>

      <section class="buttons" id="buttons">
	<button>button</button>
	<div class="button">div.button</div>
	<div class="button--radius">div.button--radius</div>
	<div class="button--circle__60px">div.button--circle__60px</div>
	<div class="button--flat">div.button--flat</div>
	<div class="button--border">div.button--border</div>
	<div></div>

	<button class="button--radius button--sm button--noborder">button.button--radius.button--sm.button--noborder</button>
	<button class="button--radius button--lg button--border">button.button--radius.button--lg.button--border</button>
	<div></div>

	<button class="button--radius button--border" disabled>button.button--radius.button--noborder[disabled]</button>
	<button class="button--radius button--noborder button--block">button.button--radius.button--noborder.button--block</button>
	<button class="button--radius button--border button--block">button.button--radius.button--border.button--block</button>
	<div></div>

      </section>
      <!-- /.buttons -->

    </div>
    <!-- /.section -->

    <div class="section">
      <header class="header">
	<h2>Flex center</h2>
      </header>

      <section class="buttons" id="buttons">
	<div class="flex-center-all" style="height:600px; border: 4px solid green">
	  <div style="background-color:blue; width:100px; height:100px">
	  </div>
	</div>
	<div class="flex-center-row" style="height:600px; border: 4px solid green">
	  <div style="background-color:blue; width:100px; height:100px">
	  </div>
	</div>
	<div class="flex-center-col" style="border: 4px solid green">
	  <div style="background-color:blue; width:100px; height:100px">
	  </div>
	</div>
      </section>
    </div>

    <!-- /.section -->#}

  </section>
</main>

{% endblock %}
