@import "../layouts/public";
@import "./zhihu_global";

.main-page {
    @extend .row;
    width: $container;
    margin: 1rem auto;
}

.main-center {
    @extend .grid;
    @extend .width--8;
    padding-left: 4rem;
    padding-right: 2rem;
}

.main-right {
    @extend .grid;
    @extend .width--4;
    border: 1px solid yellow;
}

.tags--item {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: $main-text-lightblue;
    color: $main-text-blue;
    &:hover {
        background-color: darkblue;
        color: lightgray;
    }
}

.question-title {
    @extend h2;
    color: $main-text-blue;
}

.panel {
    a {
        color: gray;
        margin: 0 0.5rem;
    }
}

.sep-line {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 1rem 0;
}

.answers__info {
    @extend .row;
    a { color: $main-text-blue; }
}

.answers__order {
    @extend .grid-right;
}

.answer__user-info {
    @extend .row;
}

.user-name {
    display: inline-block;
    font-weight: bold;
}
.user-describe {
    display: inline-block;    
}
.user-avatar {
    @extend .grid-right;
    img {
        width: 2em;
        height: 2em;
    }   
}

.answer__agrees__count {
    display: inline;
    color: gray;
}