@import "../layouts/public";
@import "./zhihu_global";

@mixin header-element {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    color: white;
}


.main-header-back {
    width: 100%;
    padding: 0.3rem 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
}

.main-header {
    display: block;
    max-width: $page-max-width;
    margin: 0 auto;
    &:after {
        clear: both;
    }
}

.logo {
    @include header-element;
    font-size: 2rem;
}

.search {
    @include header-element;
    .search-input {
        @include header-element;
        @include input-gray;
        @include border-radius-ex(0.3rem, 0, 0.3rem, 0);
        border-right: none;
        width: 240px;
    }
    .search-button {
        @include header-element;
        @include btn-blue;
        @include border-radius-ex(0, 0.3rem, 0, 0.3rem);
        width: 40px;
    }
}

.float-right {
    @include header-element;
    float: right;
}

.navigation {
    @include header-element;
    .nav--item {
        @include header-element;
        margin: 0 1rem;
    }
}

.add-question {
    @include header-element;
    @include btn-blue;
    margin: 0 1rem;
}

.user-info {
    @include header-element;
    color: white;
    .user-info--item {
        margin: 0 1rem;
    }
}