{#

 Notify template.
 
 #}


<section class="notify notify--{{position}} notify--{{state}} js-notify-state--hide">
  
  <section class="notify__icon">
    <span class="ion ion-ios-notifications-outline"></span>
  </section>
  
  {{content}}
  
  <section class="notify__close">
    <span class="ion ion-ios-close"></span>
  </section>
  
</section><!-- /.notify -->
