////
/// Breadcrumb.
///
/// 面包屑导航
////

.breadcrumb {
    //margin-bottom: 1rem;
}


/// box & typo

.breadcrumb__item {
    
    display: inline-block;
    vertical-align: baseline;
    font-size: $font-size-sm;

    &:after {
	      content: '/';
	      font-weight: 100;
	      color: $color-gray;
    }
}


/// transition

.breadcrumb__item {
    transition: color 0.2s ease-in-out 0s;
    color: $color-primary;

    &:hover {
	      color: darken($color-primary, 10%);
    }
}


///
/// Actived item
///

.breadcrumb__item--active {

    color: $color-gray;

    &:hover {
	      color: inherit;
    }
    &:after {
	      content: ' ';
	      display: none;
    }
}


///
/// Home icon
///

.breadcrumb__home {

    display: inline-block;

    // @todo remove this
    position: relative;
    top: 0.05rem;

    .ic {
	      font-size: $font-size-lg;
    }
}
