{#

Icon.

ionicons

#}


{% extends "layouts/index.html" %}

{% block script %}
<script src="/scripts/dashboard/icon.js"></script>
{% endblock %}


{% block main %}

<header><ol class="breadcrumb">
    <li class="breadcrumb__item">
      <a class="breadcrumb__home" href="/">
	<span class="ion ion-md-home"></span>
      </a>
    </li>
    <li class="breadcrumb__item">
      <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--active">
      <a href="/">Icon</a>
    </li>
</ol></header>


<!-- Icons -->
<div class="section">

  <div class="row">
    <header class="header grid">
      <h2>ICON</h2>
      <small>
	From <a class="link" href="http://ionicons.com">ionicons</a>
	
	<span class="ion-logo-github"></span>
	<a class="link" href="https://github.com/driftyco/ionicons">https://github.com/driftyco/ionicons</a>
      </small>
    </header><!-- /.title -->

    
    <section class="search-bar grid--last">
      <input type="search" placeholder="Type names" id="search" />
      <span class="ion-ios-search-outline"></span>
    </section><!-- /.search-bar -->
  </div>

  
  <section class="icons" id="icons"></section><!-- /.icons -->

</div><!-- /.section -->    

{% endblock %}
