{% extends "layouts/index.html" %}

{% block script %}
<script src="/scripts/dashboard/index.js"></script>
{% endblock %}


{% block main %}

<!-- Main -->

<main class="main">
  <section class="container">

    <div class="section">

	    <header class="header">
	      <h2>Page</h2>
	    </header>

	    <section class="pages" id="pages">
	      
	      <article class="pages__item">
	        <a href="/detail.html">
	          <section class="page">
		          <header class="page__header">D</header>
		          <section class="page__detail">detail.html</section>
	          </section>
	        </a>
	      </article><!-- /.pages__item -->
	      
	    </section><!-- /.pages -->

    </div><!-- /.section -->
    
  </section>
</main>

{% endblock %}
