{#

Icon detail.

Default size icons.

#}

<section class="icons-detail-ic__item">
  <h6>Size: 2X</h6>
  <div>
    <span class="ic--2x {{name}}"></span>
  </div>
</section>

<section class="icons-detail-ic__item">
  <h6>Size: 3X</h6>
  <div>
    <span class="ic--3x {{name}}"></span>
  </div>
</section>

<section class="icons-detail-ic__item">
  <h6>Size: 4X</h6>
  <div>
    <span class="ic--4x {{name}}"></span>
  </div>
</section>
