{#

Icon detail.

Default size icons.

#}

<section class="icons-detail-ic__item">
  <header class="icons-detail-title">Size: 2X</header>
  <div>
    <span class="ic--2x {{name}}"></span>
  </div>
</section>

<section class="icons-detail-ic__item">
  <header class="icons-detail-title">Size: 3X</header>
  <div>
    <span class="ic--3x {{name}}"></span>
  </div>
</section>

<section class="icons-detail-ic__item">
  <header class="icons-detail-title">Size: 4X</header>
  <div>
    <span class="ic--4x {{name}}"></span>
  </div>
</section>
