{#

Icon.

ionicons

#}


{% from "templates/label.njk" import label %}
{% from "templates/container.njk" import container %}




{% extends "pages/layouts/aside.html" %}


{% block script %}
<script src="/commons.js"></script>
<script src="index.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../index/index.css" />
{% endblock %}



{% block main %}
<header class="console-header">

  <header class="header__top row">
    <ol class="breadcrumb grid width--3">
      <li class="breadcrumb__item">
        <a class="breadcrumb__home" href="/">
	        <span class="ic ion-md-home"></span>
        </a>
      </li>
      <li class="breadcrumb__item">
        <a href="/">Dashboard</a>
      </li>
      <li class="breadcrumb__item breadcrumb__item--active">
        <a href="/">Icon</a>
      </li>
    </ol>

    <section class="logo grid width--6">
      <div class="logo__content">PANDORA</div>
    </section>
  </header>


  <div class="header__middle row">

    <section class="grid title-logo">
      <span class="ic ion-ios-ionic"></span>
    </section>

    
    <section class="grid">
      <header class="title">
        ICON
        {{ label("in process", state="warning") }}
      </header>

      <small class="title-description">
	      From <a class="link" href="http://ionicons.com">ionicons</a>
	      <span class="ion-logo-github"></span>
	      <a class="link" href="https://github.com/driftyco/ionicons">https://github.com/driftyco/ionicons</a>
      </small>

      <small>
        <span class="ic ion-ios-bulb-outline"></span>
        <span id="count">0</span>
      </small>
    </section>


    <section class="search-bar grid--last">
      <label class="field__label" for="search">
        <input class="field" type="search" placeholder="Type names" id="search" name="search" autofocus />
        <div class="field__icon">
          <span class="ic ion-ios-search-outline"></span>
        </div>
      </label>
    </section><!-- /.search-bar -->

  </div><!-- /.row -->


  <footer class="header__bottom">
    <section class="tab">
      <div class="tab__title">
        DETAIL
      </div>
    </section>
  </footer>


</header>

<!-- Body Container-->

<main class="console-body">

  <!-- Icons -->
  {{container("icons")}}


  <section class="icons-detail anim--init">

    <section class="icons-detail__close" id="close">
	    <span class="ic--2x ion-ios-close-circle-outline"></span>
    </section>

    <header class="icons-detail-header anim--init">
      ICON Detail
    </header>

    <section class="icons-detail-name anim--init">
      <h6>NAME</h6>
      <span id="icon-name">ion-ios-ionic</span>
    </section>

    <section class="icons-detail-tags anim--init">
      <h6>TAGS</h6>
      <div id="icon-tags">
	      {{ label("android", state="info") }}
	      {{ label("md", state="info") }}
	      {{ label("ion", state="info") }}
      </div>
    </section>

    <section class="icons-detail-ic">
      <div id="icon-icons">
	      <section class="icons-detail-ic__item">
	        <h6>Size: 2X</h6>
	        <div>
	          <span class="ic--2x ion-ios-ionic"></span>
	        </div>
	      </section>

	      <section class="icons-detail-ic__item">
	        <h6>Size: 3X</h6>
	        <div>
	          <span class="ic--3x ion-ios-ionic"></span>
	        </div>
	      </section>

	      <section class="icons-detail-ic__item">
	        <h6>Size: 4X</h6>
	        <div>
	          <span class="ic--4x ion-ios-ionic"></span>
	        </div>
	      </section>
      </div>
    </section>

    
    <section class="icons-detail-finder">
      <h6>MAYBE YOU NEED</h6>
      <div id="icon-finder">
	      <div class="row">
	        <div class="icons-detail-finder__item grid width--4">
	          <span class="ic ic--3x ion-ios-ionic"></span>
	        </div>
	        <div class="icons-detail-finder__item grid width--4">
	          <span class="ic ic--3x ion-ios-ionic"></span>
	        </div>
	        <div class="icons-detail-finder__item grid width--4">
	          <span class="ic ic--3x ion-ios-ionic"></span>
	        </div>
	        <div class="icons-detail-finder__item grid width--4">
	          <span class="ic ic--3x ion-ios-ionic"></span>
	        </div>
	      </div>
      </div>
    </section><!-- /.icons-detail-finder -->
    
  </section>

  

</main>

{% endblock %}
