///
/// Index.
///
/// @page
///

// public
@import "public";
@import "../components/button";
@import "../components/breadcrumb";
@import "../components/notify";
@import "../layouts/container";
@import "../layouts/aside";



$aside-width: 15rem;

///
/// Box
///
@at-root {
    @include reset-console();
}

.aside-bar {
    @include console-container($aside-width);
}

.main {
    @include console-container(100%);
    box-sizing: border-box;
    padding-left: $aside-width;
}


///
/// Page
///

.header {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.menus {
    padding-top: 3rem;
}

.menu {
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 0.8rem;

    &:hover {
	background-color: darken($color-primary, 10%);
    }
}

.menu__icon {
    @include monospaced-icon()
}

.pages {
    @extend .row;
}
.pages__item {
    @extend .grid;
    @extend .width--2;
    padding: 1rem 2rem;
}
.page {
    border-radius: 4px;
    padding: 1rem;

    transition: all 0.2s ease-in-out 0s;
    background-color: $color-white;
    &:hover {
	background-color: $color-primary;
    }
}
.page__header {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;

    transition: all 0.2s ease-in-out 0s;
    color: $color-primary;
    .page:hover & {
	color: $color-white;
    }
}
.page__detail {
    text-align: center;
    font-size: 0.8rem;

    transition: all 0.2s ease-in-out 0s;
    .page:hover & {
	color: $color-white;
    }
}



///
/// Icons
///

.icons {
    
}
.icons__item {
    display: inline-block;
    width: 10rem;
    padding: 1rem;
    text-align: center;
}
.icon {
    border-radius: 4px;
    padding: 0.5rem 0;
    cursor: pointer;
    background-color: $color-white;
    @include shadow(1);
}
.icon__icon {
    min-height: 3rem;
    .ion {
	font-size: 3rem;
	transition: all 0.2s ease-in-out 0s;
	.icon:hover & {
	    transform: scale(1.2);
	    color: $color-primary;
	}
    }
}
.icon__name {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    padding: 1rem;
    height: 3rem;
    .icon:hover & {
	color: $color-primary;
    }
}
.icon__content {
    font-size: 0.8rem;
    color: $color-gray;
}




.height--f10 {
    height: 100%;
}

.left-bar {
    color: lightgray;
    background-color: $color-primary;
    height: 100%;
}

.left-bar_item {
    padding: 2rem;
    border-bottom: 2px solid gray;
}

@mixin icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    
    margin-right: 1em;
}

.icon--mail {
    @include icon;
    background-color: lightsteelblue;
}
.icon--trash {
    @include icon;
    background-color: lightsteelblue;
}

.counter--red {
    width: 1em;
    height: 1em;
    text-align: center;
    color: lightgray;
    background-color: red;
    border-radius: 1em;
    padding: 0.3em;
    margin: -0.3em;
}

.flex-center-col {
    @include flex-center-col;
}
.flex-center-row {
    @include flex-center-row;
}

.flex-center-all {
    @include flex-center-all;
}
