@import "public";
@import "../helps/mixins";
@import "../components/button";

@include reset-console();
    
.center-row {
    @include flex-center-all;
}
.center-all {
    @include flex-center-all;
}
.space-row {
    display: flex;
    justify-content: space-between;
}


.content {
    width: 100%;
    height: 100%;
}

.longin {
    width: 600px;
}

.login-input {
    border: 2px solid gray;
    padding: 2rem;
    margin: 0.5rem;
    & h1 {
        font-size: 2rem;
    }
}

.login-logo {
    display: inline-block;
    background-color: deepskyblue;
    @include size(60px, 60px);
}

.login-input__main {
    width: 100%;
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.5rem;
        border: 2px solid gray;
        line-height: 2em;
        margin: 0.5rem 0;
    }
}

.login-input__footer {
    width: 100%;
    margin: 0.5rem 0;
}
