///
/// Mixins
/// 


///
/// Reset
/// 
@mixin reset-box() {
    margin:  0;
    padding: 0;
    border:  0;
    ouline:  0;
}

@mixin reset-font() {
    font-size:   1rem;
    font-weight: inherit;
    font-style:  inherit;
    font-family: inherit;
    vertical-align: baseline;
}

@mixin reset-theme() {
    background-color: transparent;
    color: inherit;
    border: 0 none;
}

@mixin reset-body( $fontFamily: sans-serif
                   , $fontSize: 16px
		               , $color: #000
		               , $bgColor: #fff
		             ) {
    font-family: $fontFamily;
    font-size:   $fontSize;
    line-height: 1;
    color: $color;
    background-color: $bgColor;

    overflow-x: hidden;
    overflow-y: auto;
}

@mixin reset-console() {
    html,
    body,
    body > div,
    body > .main,
    body > main {
        @include size(100%);
    }
}


/// Box

@mixin size($width, $height: null) {
    @if($height) {
        width:  $width;
        hieght: $height;
    } @else {
        width:  $width;
        height: $width;
    }
}


@mixin middle-block($width: 50rem) {
    width: $width;
    marign-left:  auto;
    marign-right: auto;
}