///
/// Mixins
/// 


///
/// Reset
/// 
@mixin reset-box() {
    margin:  0;
    padding: 0;
    border:  0;
    ouline:  0;
}

@mixin reset-font() {
    font-size:   1rem;
    font-weight: inherit;
    font-style:  inherit;
    font-family: inherit;
    vertical-align: baseline;
}

@mixin reset-theme() {
    background-color: transparent;
    color: inherit;
    border: 0 none;
}

@mixin reset-body($fontFamily: sans-serif,
		  $fontSize: 16px,
		  $color: #000,
		  $bgColor: #fff) {
    // typo
    font-family: $fontFamily;
    font-size:   $fontSize;
    line-height: 1;
    // theme
    color: $color;
    background-color: $bgColor;
    // overflow
    overflow-x: hidden;
    overflow-y: auto;
}


/// Console

@mixin reset-console() {
    html,
    body,
    body > div,
    body > section,
    body > .main,
    body > main,
    body > .console {
        @include size(100%);
	overflow-y: auto;
    }
}

@mixin console-container($w: 1rem) {
    @include size($w, 100%);
}


/// Box

@mixin size($width, $height: null) {
    @if $height != null {
        width:  $width;
        height: $height;
    } @else {
        width:  $width;
        height: $width;
    }
}


@mixin middle-block($width: 50rem) {
    width: $width;
    margin-left:  auto;
    margin-right: auto;
}


/// Theme

@mixin theme-reverse($c: #fff, $bgc: #000) {
    color: $c;
    background-color: $bgc;
}


@mixin shadow($z: 0) {
    box-shadow: map-get($shadows, $z);
}


/// Border radius

@mixin border-radius-ex($tl, $tr, $bl, $br) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-left-radius: $bl;
    border-bottom-right-radius: $br;
}

@mixin border-radius($size){
    @include border-radius-ex($size, $size, $size, $size);
}

/// Text

@mixin monospaced-icon() {
    display: inline-block;
    min-width: 1.2em;
    text-align: center;
}

/// Fill
@mixin fill($direction, isFixed: fixed) {
    @if ifFixed == fixed {
        position: fixed;
    }
    @else
    {
        position: absolute;
    }

    @if $direction == "t" {
        left: 0;
        right: 0;
        top: 0;
    }
    @else if $direction == "r" {
        top: 0;
        right: 0;
        bottom: 0;
    }
    @else if $direction == "b" {
        left: 0;
        right: 0;
        bottom: 0;
    }
    @else if $direction == "l" {
        top: 0;
        left: 0;
        bottom: 0;
    }
    @else if $direction == "a" {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

