{% extends "layouts/application.tpl" %}

{% block style %}
<link rel="stylesheet" href="/styles/index.css" />
{% endblock %}

{% block script %}
<script src="/scripts/index.js"></script>
{% endblock %}

{% block content %}
<section class="console">
  <!-- Aside -->
  
  <aside class="aside-bar">

    <nav><ul class="menus">
	<li class="menus__item">
	  <a href="#" class="menu">
	    <span class="menu__icon ion-md-bookmark"></span>
	    PAGE INDEX
	  </a>
	</li><!-- /.menu-item -->
	<li class="menus__item">
	  <a href="#" class="menu">
	    <span class="menu__icon ion-md-ionic"></span>
	    ICONS
	  </a>
	</li><!-- /.menu-item -->
	<li class="menus__item">
	  <a href="#" class="menu">
	    <span class="menu__icon ion-ios-construct"></span>
	    COMPONENTS
	  </a>
	</li><!-- /.menu-item -->
	<li class="menus__item">
	  <a href="#" class="menu">
	    <span class="menu__icon ion-ios-document"></span>
	    DOCUMENTS
	  </a>
	</li><!-- /.menu-item -->
	<li class="menus__item">
	  <a href="#" class="menu">
	    <span class="menu__icon ion-logo-github"></span>
	    GITHUB
	  </a>
	</li><!-- /.menu-item -->
    </ul></nav><!-- /.menu -->
    
  </aside>

  
  <!-- Main -->
  
  <main class="main">
    <section class="container">
      
      <div class="section">

	<header class="header">
	  <h2>Page</h2>
	</header>

	<section class="pages" id="pages">
	  
	  <article class="pages__item">
	    <a href="/detail.html">
	      <section class="page">
		<header class="page__header">D</header>
		<section class="page__detail">detail.html</section>
	      </section>
	    </a>
	  </article><!-- /.pages__item -->
	  
	</section><!-- /.pages -->

      </div><!-- /.section -->


      <!-- Icons -->
      
      <div class="section">

	<header class="header">
	  <h2>Icon</h2>
	</header>

	<section class="icons" id="icons">

	  <template id="icon">
	    <article class="icons__item">
	      <section class="icon">
		<section class="icon__icon">
		  <span class="ion {{name}}"></span>
		</section>

		<section class="icon__name">
		  {{name}}
		</section>
		
		<section class="icon__content">
		  {{code}}
		</section>
	      </section>
	    </article><!-- /.icons__item -->
	  </template>
	  
	</section><!-- /.icons -->

      </div><!-- /.section -->

      <!-- Buttons -->
      
      <div class="section">

	<header class="header">
	  <h2>Buttons</h2>
	</header>

	<section class="buttons" id="buttons">
		<button>button</button>
		<div class="button">div.button</div>
		<div class="button--radius">div.button--radius</div>
		<div class="button--circle">div.button--circle</div>
		<div class="button--flat">div.button--flat</div>
		<div></div>
		
		<button class="button--radius button--sm">button.button--radius.button--sm</button>
		<button class="button--radius button--lg">button.button--radius.button--lg</button>
		<div></div>
		
		<button class="button--radius" disabled>button.button--radius[disabled]</button>
		<button class="button--radius button--block">button.button--radius.button--block</button>
		<div></div>

	</section><!-- /.buttons -->

      </div><!-- /.section -->
      
    </section>
  </main>
  
</section>
{% endblock %}
