////
/// Notify.
///
/// 通知
////



$notify-gutter: 1rem;
$notify-gutter-scale: 2;


///
/// Box
///
.notify {
    box-sizing: border-box;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    font-size: $font-size-sm;
    @include border-radius($global-border-radius);
}


///
/// Position
///
.notify {
    position: fixed;
    
    &--tm {
	      top: $notify-gutter;
	      left: 50%;
	      transform: translate3d(-50%, 0, 0);
    }
    &--tr {
	      top: $notify-gutter;
	      right: $notify-gutter * $notify-gutter-scale;
    }
    &--tl {
	      top: $notify-gutter;
	      left: $notify-gutter * $notify-gutter-scale;
    }
    &--bm {
	      bottom: $notify-gutter;
	      left: 50%;
	      transform: translate3d(-50%, 0, 0);
    }
    &--br {
	      bottom: $notify-gutter;
	      right: $notify-gutter * $notify-gutter-scale;
    }
    &--bl {
	      bottom: $notify-gutter;
	      left: $notify-gutter * $notify-gutter-scale;
    }
}


///
/// Theme
///
.notify {
    @include theme-reverse();
    &--info {
	      @include theme-reverse($bgc: rgba($color-info, $alpha-d));
	      .notify__icon { background-color: darken($color-info, 10%); }
    }
    &--success {
	      @include theme-reverse($bgc: rgba($color-success, $alpha-d));
	      .notify__icon { background-color: darken($color-success, 10%); }
    }
    &--warning {
	      @include theme-reverse($bgc: rgba($color-warning, $alpha-d));
	      .notify__icon { background-color: darken($color-warning, 10%); }
    }
    &--error {
	      @include theme-reverse($bgc: rgba($color-error, $alpha-d));
	      .notify__icon { background-color: darken($color-error, 10%); }
    }

    // @todo add hover effects.
}



.notify__icon,
.notify__close {
    width: 2rem;
    font-size: $font-size;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;

    .ic {
	      font-size: $font-size-lg;
    }
}

.notify__icon {
    @include fill(l);
    border-top-left-radius: $global-border-radius;
    border-bottom-left-radius: $global-border-radius;

    background-color: darken($color-info, 10%);
}

.notify__close {
    @include fill(r);
    border-top-right-radius: $global-border-radius;
    border-bottom-right-radius: $global-border-radius;
}



///
/// Animate Control.
///

.js-notify-state--show {
    display: block;
    visibility: visible;
    opacity: 0;
    
}

.js-notify-anim--in {
    opacity: 1;
    transition: opacity 0.6s ease-in-out 0s;
}

.js-notify-anim--out {
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
}

.js-notify-state--hide {
    display: none;
    visibility: hidden;
    opacity: 0;
}
