{#

 Icon template.

 #}


<article class="icons__item">
  <section class="icon" data-clipboard-text="{{name}}">
    <section class="icon__icon">
      <span class="ion {{name}}"></span>
    </section>

    <section class="icon__name">
      {{name}}
    </section>

    <section class="icon__content">
      {{code}}
    </section>
  </section>
</article><!-- /.icons__item -->
