////
/// Aside.
///
/// 侧边栏
////

$aside-shadow: 2;
$aside-bg-img: "#{$global-image-path}binding_dark.png";

.aside-bar {
    @include fill(l);
    z-index: 12;
    max-width: $aside-default-width;
}

.aside-bar {
    @include theme-reverse();
    @include shadow($aside-shadow);
    background-image: url($aside-bg-img);
}
