///
/// Reset everything
///

// Global reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    @include reset-box();
    @include reset-font();
}


// HTML5 reset

article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav,
section, summary, main {
    display: block;
    @include reset-box();
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]),[hidden] {
    display: none;
}


// Base reset

body {
    @include reset-body( $global-font-family
                         , $global-font-size
			                   , $global-color
			                   , $global-bgColor);
}

ol, ul {
    list-style-type: none;
}

a, img {
    border: none;
}
